<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<Properties>

    <Property name="filename">logs/App.log</Property>
    <Property name="basePatterLayout">%d{ISO8601} [%-5p] (%F:%L) - %m%n</Property>
    <Property name="filePatterLayout">%d{yyyy.MM.dd HH:mm:ss} [%-5p] [%t]
        %logger{36} (%F:%L) - %m%n</Property>

</Properties>

<appenders>

    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="%date{HH:mm:ss} %-5level [%thread] %class.%method():%line%n%msg%n%exception%n" />
    </Console>

    <File name="FILE" fileName="${filename}">
        <PatternLayout pattern="${filePatterLayout}" />
    </File>

</appenders>

<loggers>
    <root level="warn">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</loggers>
</configuration>